.label-main {
  background: #FF7572;
  height: 8rem;
  margin: 0 0 4rem 0;
  text-align: center;
  font-weight: 700;
  font-size: 3.2rem;
  color: #FFFBEF;
  padding-top: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.label-carbs {
  background: #67BC67;
  height: 8rem;
  text-align: center;
  font-weight: 700;
  font-size: 3.2rem;
  color: #FFFBEF;
  padding-top: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.label-diets {
  background: #FFBC42;
  height: 8rem;
  text-align: center;
  font-weight: 700;
  font-size: 3.2rem;
  color: #FFFBEF;
  padding-top: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.label-water {
  background: #73D2DE;
  height: 8rem;
  text-align: center;
  font-weight: 700;
  font-size: 3.2rem;
  color: #FFFBEF;
  padding-top: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.video {
  background: #353535;
  height: auto;
  width: 80%;
  margin: 0 auto;
  text-align: center;
}

.section-carbs {
  background: #67BC67;
  height: 26rem;
  margin: 2rem auto;
  text-align: center;
  font-size: 2.4rem;
  color: #FFFBEF;
  display: flex;
  justify-content: center;
  align-items: center;
}

.section-carbs:hover {
  background: #549954;
  transition: all 300ms ease-in-out;
}

.section-diets {
  background: #FFBC42;
  height: 26rem;
  margin: 2rem auto;
  text-align: center;
  font-size: 2.4rem;
  color: #FFFBEF;
  display: flex;
  justify-content: center;
  align-items: center;
}

.section-diets:hover {
  background: #E2A83B;
  transition: all 300ms ease-in-out;
}

.section-water {
  background: #73D2DE;
  height: 26rem;
  margin: 2rem auto;
  text-align: center;
  font-size: 2.4rem;
  color: #FFFBEF;
  display: flex;
  justify-content: center;
  align-items: center;
}

.section-water:hover {
  background: #64B6C1;
  transition: all 300ms ease-in-out;
}

.carbs-questions {
  display: inline-block;
  height: auto;
  width: 100%;
  padding: 1.5rem;
  color: #67BC67;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 400;
  text-decoration: none;
  white-space: nowrap;
  background-color: #FFFBEF;
  outline: 0.5rem solid #67BC67;
  cursor: pointer;
  box-sizing: border-box;
  margin-top: 2rem;
}

.carbs-questions:hover{
  color: #549954;
  background: #EAE7DC;
  transition: all 300ms ease-in-out;
  outline: 0.5rem solid #549954;
}

.carbs-home {
  display: inline-block;
  height: auto;
  width: 100%;
  padding: 1.5rem;
  color: #FFFBEF;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 400;
  text-decoration: none;
  white-space: nowrap;
  background-color: #67BC67;
  outline: 0.5rem solid #67BC67;
  cursor: pointer;
  box-sizing: border-box;
  margin-top: 2rem;
}

.carbs-home:hover {
  color: #EAE7DC;
  background: #549954;
  transition: all 300ms ease-in-out;
  outline: 0.5rem solid #549954;
}

.diets-questions {
  display: inline-block;
  height: auto;
  width: 100%;
  padding: 1.5rem;
  color: #FFBC42;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 400;
  text-decoration: none;
  white-space: nowrap;
  background-color: #FFFBEF;
  outline: 0.5rem solid #FFBC42;
  cursor: pointer;
  box-sizing: border-box;
  margin-top: 2rem;
}

.diets-questions:hover{
  color: #E2A83B;
  background: #EAE7DC;
  transition: all 300ms ease-in-out;
  outline: 0.5rem solid #E2A83B;
}

.diets-home {
  display: inline-block;
  height: auto;
  width: 100%;
  padding: 1.5rem;
  color: #FFFBEF;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 400;
  text-decoration: none;
  white-space: nowrap;
  background-color: #FFBC42;
  outline: 0.5rem solid #FFBC42;
  cursor: pointer;
  box-sizing: border-box;
  margin-top: 2rem;
}

.diets-home:hover {
  color: #EAE7DC;
  background: #E2A83B;
  transition: all 300ms ease-in-out;
  outline: 0.5rem solid #E2A83B;
}

.water-questions {
  display: inline-block;
  height: auto;
  width: 100%;
  padding: 1.5rem;
  color: #73D2DE;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 400;
  text-decoration: none;
  white-space: nowrap;
  background-color: #FFFBEF;
  outline: 0.5rem solid #73D2DE;
  cursor: pointer;
  box-sizing: border-box;
  margin-top: 2rem;
}

.water-questions:hover{
  color: #64B6C1;
  background: #EAE7DC;
  transition: all 300ms ease-in-out;
  outline: 0.5rem solid #64B6C1;
}

.water-home {
  display: inline-block;
  height: auto;
  width: 100%;
  padding: 1.5rem;
  color: #FFFBEF;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 400;
  text-decoration: none;
  white-space: nowrap;
  background-color: #73D2DE;
  outline: 0.5rem solid #73D2DE;
  cursor: pointer;
  box-sizing: border-box;
  margin-top: 2rem;
}

.water-home:hover {
  color: #EAE7DC;
  background: #64B6C1;
  transition: all 300ms ease-in-out;
  outline: 0.5rem solid #64B6C1;
}

.footer {
  background: #FF7572;
  height: 5rem;
  width: 100%;
  padding-top: 2rem;
  margin-top: 5rem;
  text-align: center;
  font-size: 1.5rem;
  color: #FFFBEF;
}
