.startQuiz {
    margin-top: 4rem;
    width: 100%;
}

.tryAgain {
    float: none;
    margin: 2rem 0;
}

/* clearfix */
.quizArea, .quizResults {
    /*zoom: 1;*/
}
.quizArea:before, .quizArea:after, .quizResults:before, .quizResults:after {
    content: "\0020";
    display: block;
    height: 0;
    visibility: hidden;
    font-size: 0;
}
.quizArea:after, .quizResults:after {
    clear: both;
}

.quizName {
  text-align: center;
}

.quizDescription {
  display: none;
  text-align: center;
  margin: 4rem 0 0 0;
}

.questionCount {
    display: none;
    font-size: 1.5rem;
    font-style: italic;
}
.questionCount span {
    font-weight: bold;
}

ol.questions {
    margin-top: 5rem;
    margin-left: 0;
    text-align: center;
}
ol.questions li {
    margin-left: 0;
}

ul.answers {
    margin-left: 2rem;
    margin-bottom: 2rem;
}

ul.answers li {
    display: inline-block;
    margin: 0 2rem;
    font-size: 1.8rem;
}

ul.responses li {
    margin: 1rem 2rem 2rem;
}

ul.responses li p span {
    text-align: center;
    display: inline-block;
    font-weight: bold;
    font-size: 1.8rem;
}

.complete ul.answers li.correct, ul.responses li.correct p span {
    color: #6C9F2E;
}
ul.responses li.incorrect p span {
    color: #B5121B;
}

.quizResults h3 {
    margin: 0;
}
.quizResults h3 span {
    font-weight: normal;
    font-style: italic;
}
.quizResultsCopy {
    clear: both;
    margin-top: 2rem;
}

/* LABELS */

.label-main {
  background: #FF7572;
  height: 8rem;
  margin: 0 0 4rem 0;
  text-align: center;
  font-weight: 700;
  font-size: 3.2rem;
  color: #FFFBEF;
  padding-top: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.label-carbs {
  background: #67BC67;
  height: 8rem;
  text-align: center;
  font-weight: 700;
  font-size: 3.2rem;
  color: #FFFBEF;
  padding-top: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.label-diets {
  background: #FFBC42;
  height: 8rem;
  text-align: center;
  font-weight: 700;
  font-size: 3.2rem;
  color: #FFFBEF;
  padding-top: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.label-water {
  background: #73D2DE;
  height: 8rem;
  text-align: center;
  font-weight: 700;
  font-size: 3.2rem;
  color: #FFFBEF;
  padding-top: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* VIDEO */

.video {
  background: #353535;
  height: auto;
  width: 80%;
  margin: 0 auto;
  text-align: center;
}

/* HOME SECTIONS */

.section-carbs {
  background: #67BC67;
  height: 26rem;
  margin: 2rem auto;
  text-align: center;
  font-size: 2.4rem;
  color: #FFFBEF;
  display: flex;
  justify-content: center;
  align-items: center;
}

.section-carbs:hover {
  background: #549954;
  transition: all 300ms ease-in-out;
}

.section-diets {
  background: #FFBC42;
  height: 26rem;
  margin: 2rem auto;
  text-align: center;
  font-size: 2.4rem;
  color: #FFFBEF;
  display: flex;
  justify-content: center;
  align-items: center;
}

.section-diets:hover {
  background: #E2A83B;
  transition: all 300ms ease-in-out;
}

.section-water {
  background: #73D2DE;
  height: 26rem;
  margin: 2rem auto;
  text-align: center;
  font-size: 2.4rem;
  color: #FFFBEF;
  display: flex;
  justify-content: center;
  align-items: center;
}

.section-water:hover {
  background: #64B6C1;
  transition: all 300ms ease-in-out;
}

/* CARBS CONTROLS */

.carbs-to-questions {
  display: inline-block;
  height: auto;
  width: 90%;
  padding: 1.5rem;
  color: #67BC67;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 400;
  text-decoration: none;
  white-space: nowrap;
  background-color: #FFFBEF;
  outline: 0.5rem solid #67BC67;
  cursor: pointer;
  box-sizing: border-box;
  margin-top: 2rem;
}

.carbs-to-questions:hover{
  color: #549954;
  background: #EAE7DC;
  transition: all 300ms ease-in-out;
  outline: 0.5rem solid #549954;
}

.carbs-home {
  display: inline-block;
  height: auto;
  width: 90%;
  padding: 1.5rem;
  color: #FFFBEF;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 400;
  text-decoration: none;
  white-space: nowrap;
  background-color: #67BC67;
  outline: 0.5rem solid #67BC67;
  cursor: pointer;
  box-sizing: border-box;
  margin-top: 2rem;
}

.carbs-home:hover {
  color: #EAE7DC;
  background: #549954;
  transition: all 300ms ease-in-out;
  outline: 0.5rem solid #549954;
}

/* DIETS CONTROLS */

.diets-to-questions {
  display: inline-block;
  height: auto;
  width: 90%;
  padding: 1.5rem;
  color: #FFBC42;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 400;
  text-decoration: none;
  white-space: nowrap;
  background-color: #FFFBEF;
  outline: 0.5rem solid #FFBC42;
  cursor: pointer;
  box-sizing: border-box;
  margin-top: 2rem;
}

.diets-to-questions:hover{
  color: #E2A83B;
  background: #EAE7DC;
  transition: all 300ms ease-in-out;
  outline: 0.5rem solid #E2A83B;
}

.diets-home {
  display: inline-block;
  height: auto;
  width: 90%;
  padding: 1.5rem;
  color: #FFFBEF;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 400;
  text-decoration: none;
  white-space: nowrap;
  background-color: #FFBC42;
  outline: 0.5rem solid #FFBC42;
  cursor: pointer;
  box-sizing: border-box;
  margin-top: 2rem;
}

.diets-home:hover {
  color: #EAE7DC;
  background: #E2A83B;
  transition: all 300ms ease-in-out;
  outline: 0.5rem solid #E2A83B;
}

/* WATER CONTROLS */

.water-to-questions {
  display: inline-block;
  height: auto;
  width: 90%;
  padding: 1.5rem;
  color: #73D2DE;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 400;
  text-decoration: none;
  white-space: nowrap;
  background-color: #FFFBEF;
  outline: 0.5rem solid #73D2DE;
  cursor: pointer;
  box-sizing: border-box;
  margin-top: 2rem;
}

.water-to-questions:hover{
  color: #64B6C1;
  background: #EAE7DC;
  transition: all 300ms ease-in-out;
  outline: 0.5rem solid #64B6C1;
}

.water-home {
  display: inline-block;
  height: auto;
  width: 90%;
  padding: 1.5rem;
  color: #FFFBEF;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 400;
  text-decoration: none;
  white-space: nowrap;
  background-color: #73D2DE;
  outline: 0.5rem solid #73D2DE;
  cursor: pointer;
  box-sizing: border-box;
  margin-top: 2rem;
}

.water-home:hover {
  color: #EAE7DC;
  background: #64B6C1;
  transition: all 300ms ease-in-out;
  outline: 0.5rem solid #64B6C1;
}

/* CARBS QUESTIONS */

.carbs-question {
  margin: 8rem 0 2rem 0;
  color: #67BC67;
  display: flex;
  justify-content: center;
  align-items: center;
}

.carbs-answer {
  height: 20rem;
  background: #67BC67;
  color: #FFFBEF;
  font-size: 2rem;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.carbs-finish {
  display: inline-block;
  height: auto;
  width: 100%;
  padding: 1.5rem;
  color: #67BC67;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 400;
  text-decoration: none;
  white-space: nowrap;
  background-color: #FFFBEF;
  outline: 0.5rem solid #67BC67;
  cursor: pointer;
  box-sizing: border-box;
}

.carbs-finish:hover {
  color: #549954;
  background: #EAE7DC;
  transition: all 300ms ease-in-out;
  outline: 0.5rem solid #549954;
}

/* DIETS QUESTIONS */

.diets-question {
  margin: 8rem 0 2rem 0;
  color: #FFBC42;
}

.diets-answer {
  height: 20rem;
  background: #FFBC42;
  color: #FFFBEF;
  font-size: 2rem;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.diets-finish {
  display: inline-block;
  height: auto;
  width: 100%;
  padding: 1.5rem;
  color: #FFBC42;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 400;
  text-decoration: none;
  white-space: nowrap;
  background-color: #FFFBEF;
  outline: 0.5rem solid #FFBC42;
  cursor: pointer;
  box-sizing: border-box;
  margin-top: 8rem;
}

.diets-finish:hover {
  color: #E2A83B;
  background: #EAE7DC;
  transition: all 300ms ease-in-out;
  outline: 0.5rem solid #E2A83B;
}

/* WATER QUESTIONS */

.water-question {
  margin: 8rem 0 2rem 0;
  color: #73D2DE;
}

.water-answer {
  height: 20rem;
  background: #73D2DE;
  color: #FFFBEF;
  font-size: 2rem;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.water-finish {
  display: inline-block;
  height: auto;
  width: 100%;
  padding: 1.5rem;
  color: #73D2DE;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 400;
  text-decoration: none;
  white-space: nowrap;
  background-color: #FFFBEF;
  outline: 0.5rem solid #73D2DE;
  cursor: pointer;
  box-sizing: border-box;
  margin-top: 8rem;
}

.water-finish:hover {
  color: #64B6C1;
  background: #EAE7DC;
  transition: all 300ms ease-in-out;
  outline: 0.5rem solid #64B6C1;
}

/* FOOTER */

.footer {
  background: #FF7572;
  height: 5rem;
  width: 100%;
  padding-top: 2rem;
  margin-top: 5rem;
  text-align: center;
  font-size: 1.5rem;
  color: #FFFBEF;
}
